html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.bg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
   
}
.nav{
    position: absolute;
    margin-right: -30%;
    text-align: right;
    width: 95%;
    background-color: lightgray;
    padding: 3%;
    right: 30%;
    box-shadow: 5px 10px 20px black;
}
.logo0{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 6%;
    left: 1%;   
}
a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-size: 20px;
}
.active{
    text-decoration: underline red;
    font-weight: bold;
}
.active:hover{
    background-color: lightgoldenrodyellow;
    transition: 0.2s;
}
.ab{
    font-weight: bold;
}
.ac{
    font-weight: bold;
}
.new:hover{
    background-color: lightgoldenrodyellow;
    transition: 0.2s;
}
.ab:hover{
    background-color: lightgoldenrodyellow;
    transition: 0.2s;
}
.ac:hover{
    background-color: lightgoldenrodyellow;
    transition: 0.2s;
}
.wel{
    position: absolute;
    font-size: 4rem;
    top: 15%;
    left: 33%;
    animation: fadeIn 2s;
}
@keyframes fadeIn{
    0% { opacity: 0; }
  100% { opacity: 1; }
}
.ice{
    position: absolute;
    top: 30%;
    left: 41%;
    color: lightblue;
    font-size: 50px;
}
.hot{
    position: absolute;
    top: 490%;
    left: 41%;
    color: #FF0800;
    font-size: 50px;
}
.tbl{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.cap{
    position: absolute;
    color: lightblue;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn0{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn0:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.l{
    position: absolute;
    color: lightgreen;
    left: 250px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box0{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 60%;
}
.p{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl1{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo1{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.am1{
    position: absolute;
    color: lightblue;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn1{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn1:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm1{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.l1{
    position: absolute;
    color: lightgreen;
    left: 250px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan1{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select1{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box1{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 120%;
}
.p1{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl2{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo2{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.mac2{
    position: absolute;
    color: lightblue;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn2{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn2:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm2{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.l2{
    position: absolute;
    color: lightgreen;
    left: 250px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan2{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select2{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box2{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 180%;
}
.p2{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl3{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo3{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.van3{
    position: absolute;
    color: lightblue;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn3{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn3:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm3{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.l3{
    position: absolute;
    color: lightgreen;
    left: 250px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan3{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select3{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box3{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 240%;
}
.p3{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl4{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo4{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.caram4{
    position: absolute;
    color: lightblue;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn4{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn4:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm4{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.l4{
    position: absolute;
    color: lightgreen;
    left: 250px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan4{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select4{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box4{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 301%;
}
.p4{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl5{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo5{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.mocha5{
    position: absolute;
    color: lightblue;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn5{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn5:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm5{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.l5{
    position: absolute;
    color: lightgreen;
    left: 250px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan5{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select5{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box5{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 362%;
}
.p5{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl6{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo6{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.dark6{
    position: absolute;
    color: lightblue;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn6{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn6:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm6{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.l6{
    position: absolute;
    color: lightgreen;
    left: 250px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan6{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select6{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box6{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 424%;
}
.p6{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl7{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo7{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.blackcof7{
    position: absolute;
    color: #FFA500;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn7{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn7:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm7{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan7{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select7{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box7{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 515%;
}
.p7{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl8{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo8{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.whitecof8{
    position: absolute;
    color: #FFA500;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn8{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn8:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm8{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan8{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select8{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box8{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 575%;
}
.p8{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl9{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo9{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.hmacchiato9{
    position: absolute;
    color: #FFA500;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn9{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn9:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm9{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan9{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select9{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box9{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 635%;
}
.p9{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl10{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo10{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.hcappuccino10{
    position: absolute;
    color: #FFA500;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn10{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn10:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm10{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan10{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select10{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box10{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 695%;
}
.p10{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.tbl11{
    position: absolute;
    top: 70%;
    padding: 1px;
    margin-left: 80px;
}
.logo11{
    position: absolute;
    border-radius: 16px;
    left: -255px;
    top: -193px;
    height: 250px;
    margin-left: -20px;
    margin-bottom: 90px;
    width: 250px;
}
.hchoco11{
    position: absolute;
    color: #FFA500;
    text-align: center;
    top: -190px;
    font-size: 2.5rem;
    white-space: nowrap;
}
.btn11{
    position: absolute;
    top: 1300%;
    white-space: nowrap;
    right: -175px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.btn11:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}
.sm11{
    position: absolute;
    color: lightgreen;
    left: 10px;
    bottom: -200%;
    white-space: nowrap;
    font-weight: bold;
    z-index: 1;
    font-size: 1.8rem;
}
.quan11{
    position: absolute;
    color: #F9E4BC;
    right: -670%;
    bottom: -900%;
    font-size: 30px;
    z-index: 1;
}
.select11{
    position: absolute;
    padding: 50%;
    right: -190px;
    bottom: -900%;
    z-index: 1;
}
.box11{
    position: absolute;
    border: 200px solid #a26f25;
    border-radius: 16px;
    left: 10%;
    width: 800px;
    top: 755%;
}
.p11{
    position: absolute;
    color: #F9E4BC;
    left: 11%;
    top: -140px;
}
.pas{
    position: absolute;
    top: 830%;
    left: 41%;
    color: #FF0800;
    font-size: 50px;
}